/*OrderForm.css*/
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(135deg, #1e3c72, #6976dd); 
  color: #ffffff; 
  font-family: 'Roboto', sans-serif; 
}

/*style form container */
.form-container {
  width: 80vw;
  height: 80vw; 
  max-width: 400px;
  max-height: 500px; 
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

/*style the main form */
h1 {
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #333;
}

input {
  padding: 12px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box; 
}

/* Button styles */
button {
  padding: 12px;
  background-color: #6976dd; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3a4ee2;
}

/*style error message */
.error-message {
  color: red;
  margin-top: 10px;
}
